/* header img */

.parent-img{

    width: 100%;
    z-index: -2;
    
}

.responsive {
    width: 100%;
    height: auto;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .button {
    padding: 1vw 1.5vw;
    font-size: 1.8vw;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4a3319;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 4px 10px 0px #000;;
  }
  
  .button:hover {background-color: #75522b}
  
  .button:active {
    background-color: #75522b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}


  /* body */
  body {
    background-image: url("https://image.freepik.com/free-vector/wood-background-realistic_107791-102.jpg?1");
     
  }
  * {
    box-sizing: border-box;
  
  }
  
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 480px) {
    .column {
      width: 100%;
    }
  }
  .responsive {
    width: 100%;
    height:80%;
    box-shadow:  1px 9px 20px black;
  }

  h1{
    font-family: 'Akaya Telivigala', cursive;
    color: #FFD700;
    
    font-size: 7vw;
  }
  h2{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    font-size: 35px;
    text-align: center;
  }



  
/* FOOTER */
.footer {
	width: 100%;
	background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	display: block;
    padding-bottom: 0px;
    padding-right: 0px;

 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
  padding-left: 0%;
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 15px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.footer-bottom a{
  text-decoration: none;
  color: rgb(61, 116, 134);
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}