body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(100, 54, 54);
  }
  
  .topnav a {
    float: left;
    color: #ebebeb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #75522b;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }


  /*  */

.parent-img{

    width: 100%;
    z-index: -2;
    
}

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .button {
    padding: 1vw 1.5vw;
    font-size: 1.8vw;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4a3319;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 4px 10px 0px #000;;
  }
  
  .button:hover {background-color: #75522b}
  
  .button:active {
    background-color: #75522b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  




  #example1 {
    background-image: url(), url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    
  }
  * {
    box-sizing: border-box;
   
  }
  
  
  /* #example2 {
    background-image: url(https://www.davidpricedesign.com/img/home/wave/home-page-large-13-new.jpg), url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    z-index: 100;
  } */

  #ex3 {
    background-image: url(), url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    z-index: 200;
    height: 360px;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .responsive {
    
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px 0px black;
  }
  
  
  
  .res {
    width: 65%;
    height: auto;
    /* box-shadow: 0 0 10px 0px black; */
  }
  p{
  
    font-size: 1em;
    display: block;
    margin-left: auto;
    color: white;
    z-index: 100;
    font-family: 'Akaya Telivigala', cursive;
    
  }

  
  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
  
      .div_exp1
      {
        
        background-color: #1d1c1c6b;
          position: absolute;
          z-index: 100;
          height: 31%;
          width: 80%;
          right: 0px;
         
          
          
      }


      .div_exp2
      {
        
        background-color: #1d1c1c6b;
          position: absolute;
          z-index: 100;
          height: 38%;
          width: 80%;
          /* box-shadow: 0 0 10px black; */
         /* background-image: url(https://www.davidpricedesign.com/img/home/wave/home-page-large-13-new.jpg); */
          right: 0px;
      
          
      }



     

h2 {
  color: #ddd;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 8px;
  font-family: 'Akaya Telivigala', cursive;
}
h1 {
  font-family: 'Fredoka One', cursive;
  color: #FFD700;
  font-size:7vw;
}

h3{

  margin-top: 25px;
}


div.example {
  font-size:25px;
  font-family: 'Akaya Telivigala', cursive;
  color: white;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  div.example {
    font-size: 16px;
  }
}




/* footer */
/* FOOTER */
.footer {
	width: 100%;
	background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
   padding-top: 100px;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
  padding-left: 0%;
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 15px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.footer-bottom a{
  text-decoration: none;
  color: rgb(61, 116, 134);
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */
